/**
 * Grid layout classes
 */
/* container */
.l-container, .l-container--fluid { position:relative; width:100%; margin-right:auto; margin-left:auto; }
.l-container:before, .l-container--fluid:before, .l-container:after, .l-container-fluid:after { content:""; display:table; line-height:0; }
.l-container:after, .l-container--fluid:after { clear:both; }
/* row */
.l-row { display: flex; flex: 0 1 auto; flex-direction: row; flex-wrap: wrap; }
.l-row:after, .l-row:before { content:""; display:table; line-height:0; }
.l-row:after { clear:both; }
/* global helper classes */
.l-row-lg--reverse { flex-direction: row-reverse; }
.l-col-lg--reverse { flex-direction: column-reverse; }
.l-col-lg--start { justify-content: flex-start; text-align: start; }
.l-col-lg--center { justify-content: center; text-align: center; }
.l-col-lg--end { justify-content: flex-end; text-align: end; }
.l-col-lg--top { align-items: flex-start; }
.l-col-lg--middle { align-items: center; }
.l-col-lg--bottom { align-items: flex-end; }
.l-col-lg--around { justify-content: space-around; }
.l-col-lg--between { justify-content: space-between; }
.l-col-lg--first { order: -1; }
.l-col-lg--last { order: 1; }
/* col-lg */
.l-col { flex-grow: 1; padding-left: 0.9375rem; padding-right: 0.9375rem; }
.l-col > .row__sub .l-col:first-of-type { padding-left:0; }
.l-col > .row__sub .l-col:last-of-type { padding-right:0; }
.l-col > .row__sub .l-col:only-of-type { padding-right:0; padding-left:0; }
/* lg screen - 1200px */
.container { max-width:75rem; }
/* col-lg screen */
.l-col-lg--12 { flex-basis:100%; max-width:100%; }
.l-col-lg--11 { flex-basis:91.666%; max-width:91.666%; }
.l-col-lg--10 { flex-basis:83.333%; max-width:83.333%; }
.l-col-lg--9 { flex-basis:75%; max-width:75%; }
.l-col-lg--8 { flex-basis:66.666%; max-width:66.666%; }
.l-col-lg--7 { flex-basis:58.333%; max-width:58.333%; }
.l-col-lg--6 { flex-basis:50%; max-width:50%; }
.l-col-lg--5 { flex-basis:41.666%; max-width:41.666%; }
.l-col-lg--4 { flex-basis:33.333%; max-width:33.333%; }
.l-col-lg--3 { flex-basis:25%; max-width:25%; }
.l-col-lg--2 { flex-basis:16.666%; max-width:16.666%; }
.l-col-lg--1 { flex-basis:8.333%; max-width:8.333%; }
/* col-lg--right */
.l-col-lg--12-right { margin-right:100%; }
.l-col-lg--11-right { margin-right:91.666%; }
.l-col-lg--10-right { margin-right:83.333%; }
.l-col-lg--9-right { margin-right:75%; }
.l-col-lg--8-right { margin-right:66.666%; }
.l-col-lg--7-right { margin-right:58.333%; }
.l-col-lg--6-right { margin-right:50%; }
.l-col-lg--5-right { margin-right:41.666%; }
.l-col-lg--4-right { margin-right:33.333%; }
.l-col-lg--3-right { margin-right:25%; }
.l-col-lg--2-right { margin-right:16.666%; }
.l-col-lg--1-right { margin-right:8.333%; }
/* col-lg--left */
.l-col-lg--12-left { margin-left:100%; }
.l-col-lg--11-left { margin-left:91.666%; }
.l-col-lg--10-left { margin-left:83.333%; }
.l-col-lg--9-left { margin-left:75%; }
.l-col-lg--8-left { margin-left:66.666%; }
.l-col-lg--7-left { margin-left:58.333%; }
.l-col-lg--6-left { margin-left:50%; }
.l-col-lg--5-left { margin-left:41.666%; }
.l-col-lg--4-left { margin-left:33.333%; }
.l-col-lg--3-left { margin-left:25%; }
.l-col-lg--2-left { margin-left:16.666%; }
.l-col-lg--1-left { margin-left:8.333%; }
/* nested grid */
/* col-lg--11 */
.l-col-lg--11 > .row__sub .l-col-lg--11 { flex-basis:100%; max-width:100%; }
.l-col-lg--11 > .row__sub .l-col-lg--10 { flex-basis:90.909%; max-width:90.909%; }
.l-col-lg--11 > .row__sub .l-col-lg--9 { flex-basis:81.818%; max-width:81.818%; }
.l-col-lg--11 > .row__sub .l-col-lg--8 { flex-basis:72.727%; max-width:72.727%; }
.l-col-lg--11 > .row__sub .l-col-lg--7 { flex-basis:63.636%; max-width:63.636%; }
.l-col-lg--11 > .row__sub .l-col-lg--6 { flex-basis:54.545%; max-width:54.545%; }
.l-col-lg--11 > .row__sub .l-col-lg--5 { flex-basis:45.454%; max-width:45.454%; }
.l-col-lg--11 > .row__sub .l-col-lg--4 { flex-basis:36.363%; max-width:36.363%; }
.l-col-lg--11 > .row__sub .l-col-lg--3 { flex-basis:27.272%; max-width:27.272%; }
.l-col-lg--11 > .row__sub .l-col-lg--2 { flex-basis:18.181%%; max-width:18.181%; }
.l-col-lg--11 > .row__sub .l-col-lg--1 { flex-basis:9.09%; max-width:9.09%; }
/* col-lg--10 */
.l-col-lg--10 > .row__sub .l-col-lg--10 { flex-basis:100%; max-width:100%; }
.l-col-lg--10 > .row__sub .l-col-lg--9 { flex-basis:90%; max-width:90%; }
.l-col-lg--10 > .row__sub .l-col-lg--8 { flex-basis:80%; max-width:80%; }
.l-col-lg--10 > .row__sub .l-col-lg--7 { flex-basis:70%; max-width:70%; }
.l-col-lg--10 > .row__sub .l-col-lg--6 { flex-basis:60%; max-width:60%; }
.l-col-lg--10 > .row__sub .l-col-lg--5 { flex-basis:50%; max-width:50%; }
.l-col-lg--10 > .row__sub .l-col-lg--4 { flex-basis:40%; max-width:40%; }
.l-col-lg--10 > .row__sub .l-col-lg--3 { flex-basis:30%; max-width:30%; }
.l-col-lg--10 > .row__sub .l-col-lg--2 { flex-basis:20%; max-width:20%; }
.l-col-lg--10 > .row__sub .l-col-lg--1 { flex-basis:10%; max-width:10%; }
/* col-lg--9 */
.l-col-lg--9 > .row__sub .l-col-lg--9 { flex-basis:100%; max-width:100%; }
.l-col-lg--9 > .row__sub .l-col-lg--8 { flex-basis:88.888%; max-width:88.888%; }
.l-col-lg--9 > .row__sub .l-col-lg--7 { flex-basis:77.777%; max-width:77.777%; }
.l-col-lg--9 > .row__sub .l-col-lg--6 { flex-basis:66.666%; max-width:66.666%; }
.l-col-lg--9 > .row__sub .l-col-lg--5 { flex-basis:55.555%; max-width:55.555%; }
.l-col-lg--9 > .row__sub .l-col-lg--4 { flex-basis:44.444%; max-width:44.444%; }
.l-col-lg--9 > .row__sub .l-col-lg--3 { flex-basis:33.333%; max-width:33.333%; }
.l-col-lg--9 > .row__sub .l-col-lg--2 { flex-basis:22.222%; max-width:22.222%; }
.l-col-lg--9 > .row__sub .l-col-lg--1 { flex-basis:11.111%; max-width:11.111%; }
/* col-lg--8 */
.l-col-lg--8 > .row__sub .l-col-lg--8 { flex-basis:100%; max-width:100%; }
.l-col-lg--8 > .row__sub .l-col-lg--7 { flex-basis:87.5%; max-width:87.5%; }
.l-col-lg--8 > .row__sub .l-col-lg--6 { flex-basis:75%; max-width:75%; }
.l-col-lg--8 > .row__sub .l-col-lg--5 { flex-basis:62.5%; max-width:62.5%; }
.l-col-lg--8 > .row__sub .l-col-lg--4 { flex-basis:50%; max-width:50%; }
.l-col-lg--8 > .row__sub .l-col-lg--3 { flex-basis:37.5%; max-width:37.5%; }
.l-col-lg--8 > .row__sub .l-col-lg--2 { flex-basis:25%; max-width:25%; }
.l-col-lg--8 > .row__sub .l-col-lg--1 { flex-basis:12.5%; max-width:12.5%; }
/* col-lg--7 */
.l-col-lg--7 > .row__sub .l-col-lg--7 { flex-basis:100%; max-width:100%; }
.l-col-lg--7 > .row__sub .l-col-lg--6 { flex-basis:85.714%; max-width:85.714%; }
.l-col-lg--7 > .row__sub .l-col-lg--5 { flex-basis:71.428%; max-width:71.428%; }
.l-col-lg--7 > .row__sub .l-col-lg--4 { flex-basis:57.142%; max-width:57.142%; }
.l-col-lg--7 > .row__sub .l-col-lg--3 { flex-basis:42.857%; max-width:42.857%; }
.l-col-lg--7 > .row__sub .l-col-lg--2 { flex-basis:28.571%; max-width:28.571%; }
.l-col-lg--7 > .row__sub .l-col-lg--1 { flex-basis:14.285%; max-width:14.285%; }
/* col-lg--6 */
.l-col-lg--6 > .row__sub .l-col-lg--6 { flex-basis:100%; max-width:100%; }
.l-col-lg--6 > .row__sub .l-col-lg--5 { flex-basis:83.333%; max-width:83.333%; }
.l-col-lg--6 > .row__sub .l-col-lg--4 { flex-basis:66.666%; max-width:66.666%; }
.l-col-lg--6 > .row__sub .l-col-lg--3 { flex-basis:50%; max-width:50%; }
.l-col-lg--6 > .row__sub .l-col-lg--2 { flex-basis:33.333%; max-width:33.333%; }
.l-col-lg--6 > .row__sub .l-col-lg--1 { flex-basis:16.666%; max-width:16.666%; }
/* col-lg--5 */
.l-col-lg--5 > .row__sub .l-col-lg--5 { flex-basis:100%; max-width:100%; }
.l-col-lg--5 > .row__sub .l-col-lg--4 { flex-basis:80%; max-width:80%; }
.l-col-lg--5 > .row__sub .l-col-lg--3 { flex-basis:60%; max-width:60%; }
.l-col-lg--5 > .row__sub .l-col-lg--2 { flex-basis:40%; max-width:40%; }
.l-col-lg--5 > .row__sub .l-col-lg--1 { flex-basis:20%; max-width:20%; }
/* col-lg--4 */
.l-col-lg--4 > .row__sub .l-col-lg--4 { flex-basis:100%; max-width:100%; }
.l-col-lg--4 > .row__sub .l-col-lg--3 { flex-basis:75%; max-width:75%; }
.l-col-lg--4 > .row__sub .l-col-lg--2 { flex-basis:50%; max-width:50%; }
.l-col-lg--4 > .row__sub .l-col-lg--1 { flex-basis:25%; max-width:25%; }
/* col-lg--3 */
.l-col-lg--3 > .row__sub .l-col-lg--3 { flex-basis:100%; max-width:100%; }
.l-col-lg--3 > .row__sub .l-col-lg--2 { flex-basis:66.666%; max-width:66.666%; }
.l-col-lg--3 > .row__sub .l-col-lg--1 { flex-basis:33.333%; max-width:33.333%; }
/* col-lg--2 */
.l-col-lg--2 > .row__sub .l-col-lg--2 { flex-basis:100%; max-width:100%; }
.l-col-lg--2 > .row__sub .l-col-lg--1 { flex-basis:50%; max-width:50%; }
/* col-lg--1 */
.l-col-lg--1 > .row__sub .l-col-lg--1 { flex-basis:100%; max-width:100%; }
/* col-lg--11-right */
.l-col-lg--11 > .row__sub .l-col-lg--11-right { margin-right:100%; }
.l-col-lg--11 > .row__sub .l-col-lg--10-right { margin-right:90.909%; }
.l-col-lg--11 > .row__sub .l-col-lg--9-right { margin-right:81.818%; }
.l-col-lg--11 > .row__sub .l-col-lg--8-right { margin-right:72.727%; }
.l-col-lg--11 > .row__sub .l-col-lg--7-right { margin-right:63.636%; }
.l-col-lg--11 > .row__sub .l-col-lg--6-right { margin-right:54.545%; }
.l-col-lg--11 > .row__sub .l-col-lg--5-right { margin-right:45.454%; }
.l-col-lg--11 > .row__sub .l-col-lg--4-right { margin-right:36.363%; }
.l-col-lg--11 > .row__sub .l-col-lg--3-right { margin-right:27.272%; }
.l-col-lg--11 > .row__sub .l-col-lg--2-right { margin-right:18.181%; }
.l-col-lg--11 > .row__sub .l-col-lg--1-right { margin-right:9.09%; }
/* col-lg--10-right */
.l-col-lg--10 > .row__sub .l-col-lg--10-right { margin-right:100%; }
.l-col-lg--10 > .row__sub .l-col-lg--9-right { margin-right:90%; }
.l-col-lg--10 > .row__sub .l-col-lg--8-right { margin-right:80%; }
.l-col-lg--10 > .row__sub .l-col-lg--7-right { margin-right:70%; }
.l-col-lg--10 > .row__sub .l-col-lg--6-right { margin-right:60%; }
.l-col-lg--10 > .row__sub .l-col-lg--5-right { margin-right:50%; }
.l-col-lg--10 > .row__sub .l-col-lg--4-right { margin-right:40%; }
.l-col-lg--10 > .row__sub .l-col-lg--3-right { margin-right:30%; }
.l-col-lg--10 > .row__sub .l-col-lg--2-right { margin-right:20%; }
.l-col-lg--10 > .row__sub .l-col-lg--1-right { margin-right:10%; }
/* col-lg--9-right */
.l-col-lg--9 > .row__sub .l-col-lg--9-right { margin-right:100%; }
.l-col-lg--9 > .row__sub .l-col-lg--8-right { margin-right:88.888%; }
.l-col-lg--9 > .row__sub .l-col-lg--7-right { margin-right:77.777%; }
.l-col-lg--9 > .row__sub .l-col-lg--6-right { margin-right:66.666%; }
.l-col-lg--9 > .row__sub .l-col-lg--5-right { margin-right:55.555%; }
.l-col-lg--9 > .row__sub .l-col-lg--4-right { margin-right:44.444%; }
.l-col-lg--9 > .row__sub .l-col-lg--3-right { margin-right:33.333%; }
.l-col-lg--9 > .row__sub .l-col-lg--2-right { margin-right:22.222%; }
.l-col-lg--9 > .row__sub .l-col-lg--1-right { margin-right:11.111%; }
/* col-lg--8-right */
.l-col-lg--8 > .row__sub .l-col-lg--8-right { margin-right:100%; }
.l-col-lg--8 > .row__sub .l-col-lg--7-right { margin-right:87.5%; }
.l-col-lg--8 > .row__sub .l-col-lg--6-right { margin-right:75%; }
.l-col-lg--8 > .row__sub .l-col-lg--5-right { margin-right:62.5%; }
.l-col-lg--8 > .row__sub .l-col-lg--4-right { margin-right:50%; }
.l-col-lg--8 > .row__sub .l-col-lg--3-right { margin-right:37.5%; }
.l-col-lg--8 > .row__sub .l-col-lg--2-right { margin-right:25%; }
.l-col-lg--8 > .row__sub .l-col-lg--1-right { margin-right:12.5%; }
/* col-lg--7-right */
.l-col-lg--7 > .row__sub .l-col-lg--7-right { margin-right:100%; }
.l-col-lg--7 > .row__sub .l-col-lg--6-right { margin-right:85.714%; }
.l-col-lg--7 > .row__sub .l-col-lg--5-right { margin-right:71.428%; }
.l-col-lg--7 > .row__sub .l-col-lg--4-right { margin-right:57.142%; }
.l-col-lg--7 > .row__sub .l-col-lg--3-right { margin-right:42.857%; }
.l-col-lg--7 > .row__sub .l-col-lg--2-right { margin-right:28.571%; }
.l-col-lg--7 > .row__sub .l-col-lg--1-right { margin-right:14.285%; }
/* col-lg--6-right */
.l-col-lg--6 > .row__sub .l-col-lg--6-right { margin-right:100%; }
.l-col-lg--6 > .row__sub .l-col-lg--5-right { margin-right:83.333%; }
.l-col-lg--6 > .row__sub .l-col-lg--4-right { margin-right:66.666%; }
.l-col-lg--6 > .row__sub .l-col-lg--3-right { margin-right:50%; }
.l-col-lg--6 > .row__sub .l-col-lg--2-right { margin-right:33.333%; }
.l-col-lg--6 > .row__sub .l-col-lg--1-right { margin-right:16.666%; }
/* col-lg--5-right */
.l-col-lg--5 > .row__sub .l-col-lg--5-right { margin-right:100%; }
.l-col-lg--5 > .row__sub .l-col-lg--4-right { margin-right:80%; }
.l-col-lg--5 > .row__sub .l-col-lg--3-right { margin-right:60%; }
.l-col-lg--5 > .row__sub .l-col-lg--2-right { margin-right:40%; }
.l-col-lg--5 > .row__sub .l-col-lg--1-right { margin-right:20%; }
/* col-lg--4-right */
.l-col-lg--4 > .row__sub .l-col-lg--4-right { margin-right:100%; }
.l-col-lg--4 > .row__sub .l-col-lg--3-right { margin-right:75%; }
.l-col-lg--4 > .row__sub .l-col-lg--2-right { margin-right:50%; }
.l-col-lg--4 > .row__sub .l-col-lg--1-right { margin-right:25%; }
/* col-lg--3-right */
.l-col-lg--3 > .row__sub .l-col-lg--3-right { margin-right:100%; }
.l-col-lg--3 > .row__sub .l-col-lg--2-right { margin-right:66.666%; }
.l-col-lg--3 > .row__sub .l-col-lg--1-right { margin-right:33.333%; }
/* col-lg--2-right */
.l-col-lg--2 > .row__sub .l-col-lg--2-right { margin-right:100%; }
.l-col-lg--2 > .row__sub .l-col-lg--1-right { margin-right:50%; }
/* col-lg--1-right */
.l-col-lg--1 > .row__sub .l-col-lg--1-right { margin-right:100%; }
/* col-lg--11-left */
.l-col-lg--11 > .row__sub .l-col-lg--11-left { margin-left:100%; }
.l-col-lg--11 > .row__sub .l-col-lg--10-left { margin-left:90.909%; }
.l-col-lg--11 > .row__sub .l-col-lg--9-left { margin-left:81.818%; }
.l-col-lg--11 > .row__sub .l-col-lg--8-left { margin-left:72.727%; }
.l-col-lg--11 > .row__sub .l-col-lg--7-left { margin-left:63.636%; }
.l-col-lg--11 > .row__sub .l-col-lg--6-left { margin-left:54.545%; }
.l-col-lg--11 > .row__sub .l-col-lg--5-left { margin-left:45.454%; }
.l-col-lg--11 > .row__sub .l-col-lg--4-left { margin-left:36.363%; }
.l-col-lg--11 > .row__sub .l-col-lg--3-left { margin-left:27.272%; }
.l-col-lg--11 > .row__sub .l-col-lg--2-left { margin-left:18.181%; }
.l-col-lg--11 > .row__sub .l-col-lg--1-left { margin-left:9.09%; }
/* col-lg--10-left */
.l-col-lg--10 > .row__sub .l-col-lg--10-left { margin-left:100%; }
.l-col-lg--10 > .row__sub .l-col-lg--9-left { margin-left:90%; }
.l-col-lg--10 > .row__sub .l-col-lg--8-left { margin-left:80%; }
.l-col-lg--10 > .row__sub .l-col-lg--7-left { margin-left:70%; }
.l-col-lg--10 > .row__sub .l-col-lg--6-left { margin-left:60%; }
.l-col-lg--10 > .row__sub .l-col-lg--5-left { margin-left:50%; }
.l-col-lg--10 > .row__sub .l-col-lg--4-left { margin-left:40%; }
.l-col-lg--10 > .row__sub .l-col-lg--3-left { margin-left:30%; }
.l-col-lg--10 > .row__sub .l-col-lg--2-left { margin-left:20%; }
.l-col-lg--10 > .row__sub .l-col-lg--1-left { margin-left:10%; }
/* col-lg--9-left */
.l-col-lg--9 > .row__sub .l-col-lg--9-left { margin-left:100%; }
.l-col-lg--9 > .row__sub .l-col-lg--8-left { margin-left:88.888%; }
.l-col-lg--9 > .row__sub .l-col-lg--7-left { margin-left:77.777%; }
.l-col-lg--9 > .row__sub .l-col-lg--6-left { margin-left:66.666%; }
.l-col-lg--9 > .row__sub .l-col-lg--5-left { margin-left:55.555%; }
.l-col-lg--9 > .row__sub .l-col-lg--4-left { margin-left:44.444%; }
.l-col-lg--9 > .row__sub .l-col-lg--3-left { margin-left:33.333%; }
.l-col-lg--9 > .row__sub .l-col-lg--2-left { margin-left:22.222%; }
.l-col-lg--9 > .row__sub .l-col-lg--1-left { margin-left:11.111%; }
/* col-lg--8-left */
.l-col-lg--8 > .row__sub .l-col-lg--8-left { margin-left:100%; }
.l-col-lg--8 > .row__sub .l-col-lg--7-left { margin-left:87.5%; }
.l-col-lg--8 > .row__sub .l-col-lg--6-left { margin-left:75%; }
.l-col-lg--8 > .row__sub .l-col-lg--5-left { margin-left:62.5%; }
.l-col-lg--8 > .row__sub .l-col-lg--4-left { margin-left:50%; }
.l-col-lg--8 > .row__sub .l-col-lg--3-left { margin-left:37.5%; }
.l-col-lg--8 > .row__sub .l-col-lg--2-left { margin-left:25%; }
.l-col-lg--8 > .row__sub .l-col-lg--1-left { margin-left:12.5%; }
/* col-lg--7-left */
.l-col-lg--7 > .row__sub .l-col-lg--7-left { margin-left:100%; }
.l-col-lg--7 > .row__sub .l-col-lg--6-left { margin-left:85.714%; }
.l-col-lg--7 > .row__sub .l-col-lg--5-left { margin-left:71.428%; }
.l-col-lg--7 > .row__sub .l-col-lg--4-left { margin-left:57.142%; }
.l-col-lg--7 > .row__sub .l-col-lg--3-left { margin-left:42.857%; }
.l-col-lg--7 > .row__sub .l-col-lg--2-left { margin-left:28.571%; }
.l-col-lg--7 > .row__sub .l-col-lg--1-left { margin-left:14.285%; }
/* col-lg--6-left */
.l-col-lg--6 > .row__sub .l-col-lg--6-left { margin-left:100%; }
.l-col-lg--6 > .row__sub .l-col-lg--5-left { margin-left:83.333%; }
.l-col-lg--6 > .row__sub .l-col-lg--4-left { margin-left:66.666%; }
.l-col-lg--6 > .row__sub .l-col-lg--3-left { margin-left:50%; }
.l-col-lg--6 > .row__sub .l-col-lg--2-left { margin-left:33.333%; }
.l-col-lg--6 > .row__sub .l-col-lg--1-left { margin-left:16.666%; }
/* col-lg--5-left */
.l-col-lg--5 > .row__sub .l-col-lg--5-left { margin-left:100%; }
.l-col-lg--5 > .row__sub .l-col-lg--4-left { margin-left:80%; }
.l-col-lg--5 > .row__sub .l-col-lg--3-left { margin-left:60%; }
.l-col-lg--5 > .row__sub .l-col-lg--2-left { margin-left:40%; }
.l-col-lg--5 > .row__sub .l-col-lg--1-left { margin-left:20%; }
/* col-lg--4-left */
.l-col-lg--4 > .row__sub .l-col-lg--4-left { margin-left:100%; }
.l-col-lg--4 > .row__sub .l-col-lg--3-left { margin-left:75%; }
.l-col-lg--4 > .row__sub .l-col-lg--2-left { margin-left:50%; }
.l-col-lg--4 > .row__sub .l-col-lg--1-left { margin-left:25%; }
/* col-lg--3-left */
.l-col-lg--3 > .row__sub .l-col-lg--3-left { margin-left:100%; }
.l-col-lg--3 > .row__sub .l-col-lg--2-left { margin-left:66.666%; }
.l-col-lg--3 > .row__sub .l-col-lg--1-left { margin-left:33.333%; }
/* col-lg--2-left */
.l-col-lg--2 > .row__sub .l-col-lg--2-left { margin-left:100%; }
.l-col-lg--2 > .row__sub .l-col-lg--1-left { margin-left:50%; }
/* col-lg--1-left */
.l-col-lg--1 > .row__sub .l-col-lg--1-left { margin-left:100%; }
/* md screen - 1024px */
@media screen and (max-width: 64rem) {
	.l-container{ max-width:56.250rem; }
	/* global helper classes */
	.l-row-md--reverse { flex-direction: row-reverse; }
	.l-col-md--reverse { flex-direction: column-reverse; }
	/* md col helper classes */
	.l-col-md--start { justify-content: flex-start; text-align: start; }
	.l-col-md--center { justify-content: center; text-align: center; }
	.l-col-md--end { justify-content: flex-end; text-align: end; }
	.l-col-md--top { align-items: flex-start; }
	.l-col-md--middle { align-items: center; }
	.l-col-md--bottom { align-items: flex-end; }
	.l-col-md--around { justify-content: space-around; }
	.l-col-md--between { justify-content: space-between; }
	.l-col-md--first { order: -1; }
	.l-col-md--last { order: 1; }
	/* col md screen */
	.l-col-md--12{ flex-basis:100%; max-width:100%; }
	.l-col-md--11{ flex-basis:91.666%; max-width:91.666%; }
	.l-col-md--10{ flex-basis:83.333%; max-width:83.333%; }
	.l-col-md--9{ flex-basis:75%; max-width:75%; }
	.l-col-md--8{ flex-basis:66.666%; max-width:66.666%; }
	.l-col-md--7{ flex-basis:58.333%; max-width:58.333%; }
	.l-col-md--6{ flex-basis:50%; max-width:50%; }
	.l-col-md--5{ flex-basis:41.666%; max-width:41.666%; }
	.l-col-md--4{ flex-basis:33.333%; max-width:33.333%; }
	.l-col-md--3{ flex-basis:25%; max-width:25%; }
	.l-col-md--2{ flex-basis:16.666%; max-width:16.666%; }
	.l-col-md--1{ flex-basis:8.333%; max-width:8.333%; }
	/* right */
	.l-col-md--12-right{ margin-right:100%; }
	.l-col-md--11-right{ margin-right:91.666%; }
	.l-col-md--10-right{ margin-right:83.333%; }
	.l-col-md--9-right{ margin-right:75%; }
	.l-col-md--8-right{ margin-right:66.666%; }
	.l-col-md--7-right{ margin-right:58.333%; }
	.l-col-md--6-right{ margin-right:50%; }
	.l-col-md--5-right{ margin-right:41.666%; }
	.l-col-md--4-right{ margin-right:33.333%; }
	.l-col-md--3-right{ margin-right:25%; }
	.l-col-md--2-right{ margin-right:16.666%; }
	.l-col-md--1-right{ margin-right:8.333%; }
	/* left */
	.l-col-md--12-left{ margin-left:100%; }
	.l-col-md--11-left{ margin-left:91.666%; }
	.l-col-md--10-left{ margin-left:83.333%; }
	.l-col-md--9-left{ margin-left:75%; }
	.l-col-md--8-left{ margin-left:66.666%; }
	.l-col-md--7-left{ margin-left:58.333%; }
	.l-col-md--6-left{ margin-left:50%; }
	.l-col-md--5-left{ margin-left:41.666%; }
	.l-col-md--4-left{ margin-left:33.333%; }
	.l-col-md--3-left{ margin-left:25%; }
	.l-col-md--2-left{ margin-left:16.666%; }
	.l-col-md--1-left{ margin-left:8.333%; }
	/* nested grid */
	/* col-md--11 */
	.l-col-md--11 > .row__sub .l-col-md--11 { flex-basis:100%; max-width:100%; }
	.l-col-md--11 > .row__sub .l-col-md--10 { flex-basis:100%; max-width:90.909%; }
	.l-col-md--11 > .row__sub .l-col-md--9 { flex-basis:100%; max-width:81.818%; }
	.l-col-md--11 > .row__sub .l-col-md--8 { flex-basis:100%; max-width:72.727%; }
	.l-col-md--11 > .row__sub .l-col-md--7 { flex-basis:100%; max-width:63.636%; }
	.l-col-md--11 > .row__sub .l-col-md--6 { flex-basis:100%; max-width:54.545%; }
	.l-col-md--11 > .row__sub .l-col-md--5 { flex-basis:100%; max-width:45.454%; }
	.l-col-md--11 > .row__sub .l-col-md--4 { flex-basis:100%; max-width:36.363%; }
	.l-col-md--11 > .row__sub .l-col-md--3 { flex-basis:100%; max-width:27.272%; }
	.l-col-md--11 > .row__sub .l-col-md--2 { flex-basis:100%; max-width:18.181%; }
	.l-col-md--11 > .row__sub .l-col-md--1 { flex-basis:100%; max-width:9.09%; }
	/* col-md--10 */
	.l-col-md--10 > .row__sub .l-col-md--10 { flex-basis:100%; max-width:100%; }
	.l-col-md--10 > .row__sub .l-col-md--9 { flex-basis:90%; max-width:90%; }
	.l-col-md--10 > .row__sub .l-col-md--8 { flex-basis:80%; max-width:80%; }
	.l-col-md--10 > .row__sub .l-col-md--7 { flex-basis:70%; max-width:70%; }
	.l-col-md--10 > .row__sub .l-col-md--6 { flex-basis:60%; max-width:60%; }
	.l-col-md--10 > .row__sub .l-col-md--5 { flex-basis:50%; max-width:50%; }
	.l-col-md--10 > .row__sub .l-col-md--4 { flex-basis:40%; max-width:40%; }
	.l-col-md--10 > .row__sub .l-col-md--3 { flex-basis:30%; max-width:30%; }
	.l-col-md--10 > .row__sub .l-col-md--2 { flex-basis:20%; max-width:20%; }
	.l-col-md--10 > .row__sub .l-col-md--1 { flex-basis:10%; max-width:10%; }
	/* col-md--9 */
	.l-col-md--9 > .row__sub .l-col-md--9 { flex-basis:100%; max-width:100%; }
	.l-col-md--9 > .row__sub .l-col-md--8 { flex-basis:88.888%; max-width:88.888%; }
	.l-col-md--9 > .row__sub .l-col-md--7 { flex-basis:77.777%; max-width:77.777%; }
	.l-col-md--9 > .row__sub .l-col-md--6 { flex-basis:66.666%; max-width:66.666%; }
	.l-col-md--9 > .row__sub .l-col-md--5 { flex-basis:55.555%; max-width:55.555%; }
	.l-col-md--9 > .row__sub .l-col-md--4 { flex-basis:44.444%; max-width:44.444%; }
	.l-col-md--9 > .row__sub .l-col-md--3 { flex-basis:33.333%; max-width:33.333%; }
	.l-col-md--9 > .row__sub .l-col-md--2 { flex-basis:22.222%; max-width:22.222%; }
	.l-col-md--9 > .row__sub .l-col-md--1 { flex-basis:11.111%; max-width:11.111%; }
	/* col-md--8 */
	.l-col-md--8 > .row__sub .l-col-md--8 { flex-basis:100%; max-width:100%; }
	.l-col-md--8 > .row__sub .l-col-md--7 { flex-basis:87.5%; max-width:87.5%; }
	.l-col-md--8 > .row__sub .l-col-md--6 { flex-basis:75%; max-width:75%; }
	.l-col-md--8 > .row__sub .l-col-md--5 { flex-basis:62.5%; max-width:62.5%; }
	.l-col-md--8 > .row__sub .l-col-md--4 { flex-basis:50%; max-width:50%; }
	.l-col-md--8 > .row__sub .l-col-md--3 { flex-basis:37.5%; max-width:37.5%; }
	.l-col-md--8 > .row__sub .l-col-md--2 { flex-basis:25%; max-width:25%; }
	.l-col-md--8 > .row__sub .l-col-md--1 { flex-basis:12.5%; max-width:12.5%; }
	/* col-md--7 */
	.l-col-md--7 > .row__sub .l-col-md--7 { flex-basis:100%; max-width:100%; }
	.l-col-md--7 > .row__sub .l-col-md--6 { flex-basis:85.714%; max-width:85.714%; }
	.l-col-md--7 > .row__sub .l-col-md--5 { flex-basis:71.428%; max-width:71.428%; }
	.l-col-md--7 > .row__sub .l-col-md--4 { flex-basis:57.142%; max-width:57.142%; }
	.l-col-md--7 > .row__sub .l-col-md--3 { flex-basis:42.857%; max-width:42.857%; }
	.l-col-md--7 > .row__sub .l-col-md--2 { flex-basis:28.571%; max-width:28.571%; }
	.l-col-md--7 > .row__sub .l-col-md--1 { flex-basis:14.285%; max-width:14.285%; }
	/* col-md--6 */
	.l-col-md--6 > .row__sub .l-col-md--6 { flex-basis:100%; max-width:100%; }
	.l-col-md--6 > .row__sub .l-col-md--5 { flex-basis:83.333%; max-width:83.333%; }
	.l-col-md--6 > .row__sub .l-col-md--4 { flex-basis:66.666%; max-width:66.666%; }
	.l-col-md--6 > .row__sub .l-col-md--3 { flex-basis:50%; max-width:50%; }
	.l-col-md--6 > .row__sub .l-col-md--2 { flex-basis:33.333%; max-width:33.333%; }
	.l-col-md--6 > .row__sub .l-col-md--1 { flex-basis:16.666%; max-width:16.666%; }
	/* col-md--5 */
	.l-col-md--5 > .row__sub .l-col-md--5 { flex-basis:100%; max-width:100%; }
	.l-col-md--5 > .row__sub .l-col-md--4 { flex-basis:80%; max-width:80%; }
	.l-col-md--5 > .row__sub .l-col-md--3 { flex-basis:60%; max-width:60%; }
	.l-col-md--5 > .row__sub .l-col-md--2 { flex-basis:40%; max-width:40%; }
	.l-col-md--5 > .row__sub .l-col-md--1 { flex-basis:20%; max-width:20%; }
	/* col-md--4 */
	.l-col-md--4 > .row__sub .l-col-md--4 { flex-basis:100%; max-width:100%; }
	.l-col-md--4 > .row__sub .l-col-md--3 { flex-basis:75%; max-width:75%; }
	.l-col-md--4 > .row__sub .l-col-md--2 { flex-basis:50%; max-width:50%; }
	.l-col-md--4 > .row__sub .l-col-md--1 { flex-basis:25%; max-width:25%; }
	/* col-md--3 */
	.l-col-md--3 > .row__sub .l-col-md--3 { flex-basis:100%; max-width:100%; }
	.l-col-md--3 > .row__sub .l-col-md--2 { flex-basis:66.666%; max-width:66.666%; }
	.l-col-md--3 > .row__sub .l-col-md--1 { flex-basis:33.333%; max-width:33.333%; }
	/* col-md--2 */
	.l-col-md--2 > .row__sub .l-col-md--2 { flex-basis:100%; max-width:100%; }
	.l-col-md--2 > .row__sub .l-col-md--1 { flex-basis:50%; max-width:50%; }
	/* col-md--1 */
	.l-col-md--1 > .row__sub .l-col-md--1 { flex-basis:100%; max-width:100%; }
	/* col-md--11-right */
	.l-col-md--11 > .row__sub .l-col-md--11-right { margin-right:100%; }
	.l-col-md--11 > .row__sub .l-col-md--10-right { margin-right:90.909%; }
	.l-col-md--11 > .row__sub .l-col-md--9-right { margin-right:81.818%; }
	.l-col-md--11 > .row__sub .l-col-md--8-right { margin-right:72.727%; }
	.l-col-md--11 > .row__sub .l-col-md--7-right { margin-right:63.636%; }
	.l-col-md--11 > .row__sub .l-col-md--6-right { margin-right:54.545%; }
	.l-col-md--11 > .row__sub .l-col-md--5-right { margin-right:45.454%; }
	.l-col-md--11 > .row__sub .l-col-md--4-right { margin-right:36.363%; }
	.l-col-md--11 > .row__sub .l-col-md--3-right { margin-right:27.272%; }
	.l-col-md--11 > .row__sub .l-col-md--2-right { margin-right:18.181%; }
	.l-col-md--11 > .row__sub .l-col-md--1-right { margin-right:9.09%; }
	/* col-md--10-right */
	.l-col-md--10 > .row__sub .l-col-md--10-right { margin-right:100%; }
	.l-col-md--10 > .row__sub .l-col-md--9-right { margin-right:90%; }
	.l-col-md--10 > .row__sub .l-col-md--8-right { margin-right:80%; }
	.l-col-md--10 > .row__sub .l-col-md--7-right { margin-right:70%; }
	.l-col-md--10 > .row__sub .l-col-md--6-right { margin-right:60%; }
	.l-col-md--10 > .row__sub .l-col-md--5-right { margin-right:50%; }
	.l-col-md--10 > .row__sub .l-col-md--4-right { margin-right:40%; }
	.l-col-md--10 > .row__sub .l-col-md--3-right { margin-right:30%; }
	.l-col-md--10 > .row__sub .l-col-md--2-right { margin-right:20%; }
	.l-col-md--10 > .row__sub .l-col-md--1-right { margin-right:10%; }
	/* col-md--9-right */
	.l-col-md--9 > .row__sub .l-col-md--9-right { margin-right:100%; }
	.l-col-md--9 > .row__sub .l-col-md--8-right { margin-right:88.888%; }
	.l-col-md--9 > .row__sub .l-col-md--7-right { margin-right:77.777%; }
	.l-col-md--9 > .row__sub .l-col-md--6-right { margin-right:66.666%; }
	.l-col-md--9 > .row__sub .l-col-md--5-right { margin-right:55.555%; }
	.l-col-md--9 > .row__sub .l-col-md--4-right { margin-right:44.444%; }
	.l-col-md--9 > .row__sub .l-col-md--3-right { margin-right:33.333%; }
	.l-col-md--9 > .row__sub .l-col-md--2-right { margin-right:22.222%; }
	.l-col-md--9 > .row__sub .l-col-md--1-right { margin-right:11.111%; }
	/* col-md--8-right */
	.l-col-md--8 > .row__sub .l-col-md--8-right { margin-right:100%; }
	.l-col-md--8 > .row__sub .l-col-md--7-right { margin-right:87.5%; }
	.l-col-md--8 > .row__sub .l-col-md--6-right { margin-right:75%; }
	.l-col-md--8 > .row__sub .l-col-md--5-right { margin-right:62.5%; }
	.l-col-md--8 > .row__sub .l-col-md--4-right { margin-right:50%; }
	.l-col-md--8 > .row__sub .l-col-md--3-right { margin-right:37.5%; }
	.l-col-md--8 > .row__sub .l-col-md--2-right { margin-right:25%; }
	.l-col-md--8 > .row__sub .l-col-md--1-right { margin-right:12.5%; }
	/* col-md--7-right */
	.l-col-md--7 > .row__sub .l-col-md--7-right { margin-right:100%; }
	.l-col-md--7 > .row__sub .l-col-md--6-right { margin-right:85.714%; }
	.l-col-md--7 > .row__sub .l-col-md--5-right { margin-right:71.428%; }
	.l-col-md--7 > .row__sub .l-col-md--4-right { margin-right:57.142%; }
	.l-col-md--7 > .row__sub .l-col-md--3-right { margin-right:42.857%; }
	.l-col-md--7 > .row__sub .l-col-md--2-right { margin-right:28.571%; }
	.l-col-md--7 > .row__sub .l-col-md--1-right { margin-right:14.285%; }
	/* col-md--6-right */
	.l-col-md--6 > .row__sub .l-col-md--6-right { margin-right:100%; }
	.l-col-md--6 > .row__sub .l-col-md--5-right { margin-right:83.333%; }
	.l-col-md--6 > .row__sub .l-col-md--4-right { margin-right:66.666%; }
	.l-col-md--6 > .row__sub .l-col-md--3-right { margin-right:50%; }
	.l-col-md--6 > .row__sub .l-col-md--2-right { margin-right:33.333%; }
	.l-col-md--6 > .row__sub .l-col-md--1-right { margin-right:16.666%; }
	/* col-md--5-right */
	.l-col-md--5 > .row__sub .l-col-md--5-right { margin-right:100%; }
	.l-col-md--5 > .row__sub .l-col-md--4-right { margin-right:80%; }
	.l-col-md--5 > .row__sub .l-col-md--3-right { margin-right:60%; }
	.l-col-md--5 > .row__sub .l-col-md--2-right { margin-right:40%; }
	.l-col-md--5 > .row__sub .l-col-md--1-right { margin-right:20%; }
	/* col-md--4-right */
	.l-col-md--4 > .row__sub .l-col-md--4-right { margin-right:100%; }
	.l-col-md--4 > .row__sub .l-col-md--3-right { margin-right:75%; }
	.l-col-md--4 > .row__sub .l-col-md--2-right { margin-right:50%; }
	.l-col-md--4 > .row__sub .l-col-md--1-right { margin-right:25%; }
	/* col-md--3-right */
	.l-col-md--3 > .row__sub .l-col-md--3-right { margin-right:100%; }
	.l-col-md--3 > .row__sub .l-col-md--2-right { margin-right:66.666%; }
	.l-col-md--3 > .row__sub .l-col-md--1-right { margin-right:33.333%; }
	/* col-md--2-right */
	.l-col-md--2 > .row__sub .l-col-md--2-right { margin-right:100%; }
	.l-col-md--2 > .row__sub .l-col-md--1-right { margin-right:50%; }
	/* col-md--1-right */
	.l-col-md--1 > .row__sub .l-col-md--1-right { margin-right:100%; }
	/* col-md--11-left */
	.l-col-md--11 > .row__sub .l-col-md--11-left { margin-left:100%; }
	.l-col-md--11 > .row__sub .l-col-md--10-left { margin-left:90.909%; }
	.l-col-md--11 > .row__sub .l-col-md--9-left { margin-left:81.818%; }
	.l-col-md--11 > .row__sub .l-col-md--8-left { margin-left:72.727%; }
	.l-col-md--11 > .row__sub .l-col-md--7-left { margin-left:63.636%; }
	.l-col-md--11 > .row__sub .l-col-md--6-left { margin-left:54.545%; }
	.l-col-md--11 > .row__sub .l-col-md--5-left { margin-left:45.454%; }
	.l-col-md--11 > .row__sub .l-col-md--4-left { margin-left:36.363%; }
	.l-col-md--11 > .row__sub .l-col-md--3-left { margin-left:27.272%; }
	.l-col-md--11 > .row__sub .l-col-md--2-left { margin-left:18.181%; }
	.l-col-md--11 > .row__sub .l-col-md--1-left { margin-left:9.09%; }
	/* col-md--10-left */
	.l-col-md--10 > .row__sub .l-col-md--10-left { margin-left:100%; }
	.l-col-md--10 > .row__sub .l-col-md--9-left { margin-left:90%; }
	.l-col-md--10 > .row__sub .l-col-md--8-left { margin-left:80%; }
	.l-col-md--10 > .row__sub .l-col-md--7-left { margin-left:70%; }
	.l-col-md--10 > .row__sub .l-col-md--6-left { margin-left:60%; }
	.l-col-md--10 > .row__sub .l-col-md--5-left { margin-left:50%; }
	.l-col-md--10 > .row__sub .l-col-md--4-left { margin-left:40%; }
	.l-col-md--10 > .row__sub .l-col-md--3-left { margin-left:30%; }
	.l-col-md--10 > .row__sub .l-col-md--2-left { margin-left:20%; }
	.l-col-md--10 > .row__sub .l-col-md--1-left { margin-left:10%; }
	/* col-md--9-left */
	.l-col-md--9 > .row__sub .l-col-md--9-left { margin-left:100%; }
	.l-col-md--9 > .row__sub .l-col-md--8-left { margin-left:88.888%; }
	.l-col-md--9 > .row__sub .l-col-md--7-left { margin-left:77.777%; }
	.l-col-md--9 > .row__sub .l-col-md--6-left { margin-left:66.666%; }
	.l-col-md--9 > .row__sub .l-col-md--5-left { margin-left:55.555%; }
	.l-col-md--9 > .row__sub .l-col-md--4-left { margin-left:44.444%; }
	.l-col-md--9 > .row__sub .l-col-md--3-left { margin-left:33.333%; }
	.l-col-md--9 > .row__sub .l-col-md--2-left { margin-left:22.222%; }
	.l-col-md--9 > .row__sub .l-col-md--1-left { margin-left:11.111%; }
	/* col-md--8-left */
	.l-col-md--8 > .row__sub .l-col-md--8-left { margin-left:100%; }
	.l-col-md--8 > .row__sub .l-col-md--7-left { margin-left:87.5%; }
	.l-col-md--8 > .row__sub .l-col-md--6-left { margin-left:75%; }
	.l-col-md--8 > .row__sub .l-col-md--5-left { margin-left:62.5%; }
	.l-col-md--8 > .row__sub .l-col-md--4-left { margin-left:50%; }
	.l-col-md--8 > .row__sub .l-col-md--3-left { margin-left:37.5%; }
	.l-col-md--8 > .row__sub .l-col-md--2-left { margin-left:25%; }
	.l-col-md--8 > .row__sub .l-col-md--1-left { margin-left:12.5%; }
	/* col-md--7-left */
	.l-col-md--7 > .row__sub .l-col-md--7-left { margin-left:100%; }
	.l-col-md--7 > .row__sub .l-col-md--6-left { margin-left:85.714%; }
	.l-col-md--7 > .row__sub .l-col-md--5-left { margin-left:71.428%; }
	.l-col-md--7 > .row__sub .l-col-md--4-left { margin-left:57.142%; }
	.l-col-md--7 > .row__sub .l-col-md--3-left { margin-left:42.857%; }
	.l-col-md--7 > .row__sub .l-col-md--2-left { margin-left:28.571%; }
	.l-col-md--7 > .row__sub .l-col-md--1-left { margin-left:14.285%; }
	/* col-md--6-left */
	.l-col-md--6 > .row__sub .l-col-md--6-left { margin-left:100%; }
	.l-col-md--6 > .row__sub .l-col-md--5-left { margin-left:83.333%; }
	.l-col-md--6 > .row__sub .l-col-md--4-left { margin-left:66.666%; }
	.l-col-md--6 > .row__sub .l-col-md--3-left { margin-left:50%; }
	.l-col-md--6 > .row__sub .l-col-md--2-left { margin-left:33.333%; }
	.l-col-md--6 > .row__sub .l-col-md--1-left { margin-left:16.666%; }
	/* col-md--5-left */
	.l-col-md--5 > .row__sub .l-col-md--5-left { margin-left:100%; }
	.l-col-md--5 > .row__sub .l-col-md--4-left { margin-left:80%; }
	.l-col-md--5 > .row__sub .l-col-md--3-left { margin-left:60%; }
	.l-col-md--5 > .row__sub .l-col-md--2-left { margin-left:40%; }
	.l-col-md--5 > .row__sub .l-col-md--1-left { margin-left:20%; }
	/* col-md--4-left */
	.l-col-md--4 > .row__sub .l-col-md--4-left { margin-left:100%; }
	.l-col-md--4 > .row__sub .l-col-md--3-left { margin-left:75%; }
	.l-col-md--4 > .row__sub .l-col-md--2-left { margin-left:50%; }
	.l-col-md--4 > .row__sub .l-col-md--1-left { margin-left:25%; }
	/* col-md--3-left */
	.l-col-md--3 > .row__sub .l-col-md--3-left { margin-left:100%; }
	.l-col-md--3 > .row__sub .l-col-md--2-left { margin-left:66.666%; }
	.l-col-md--3 > .row__sub .l-col-md--1-left { margin-left:33.333%; }
	/* col-md--2-left */
	.l-col-md--2 > .row__sub .l-col-md--2-left { margin-left:100%; }
	.l-col-md--2 > .row__sub .l-col-md--1-left { margin-left:50%; }
	/* col-md--1-left */
	.l-col-md--1 > .row__sub .l-col-md--1-left { margin-left:100%; }
}
/* sm screen - 800px */
@media screen and (max-width: 50rem) {
	.l-container{ max-width:40rem; }
	/* global helper classes */
	.l-row-sm--reverse { flex-direction: row-reverse; }
	.l-col-sm--reverse { flex-direction: column-reverse; }
	/* md col helper classes */
	.l-col-sm--start { justify-content: flex-start; text-align: start; }
	.l-col-sm--center { justify-content: center; text-align: center; }
	.l-col-sm--end { justify-content: flex-end; text-align: end; }
	.l-col-sm--top { align-items: flex-start; }
	.l-col-sm--middle { align-items: center; }
	.l-col-sm--bottom { align-items: flex-end; }
	.l-col-sm--around { justify-content: space-around; }
	.l-col-sm--between { justify-content: space-between; }
	.l-col-sm--first { order: -1; }
	.l-col-sm--last { order: 1; }
	/* col sm screen */
	.l-col-sm--8{ flex-basis:100%; max-width:100%; }
	.l-col-sm--7{ flex-basis:87.5%; max-width:87.5%; }
	.l-col-sm--6{ flex-basis:75%; max-width:75%; }
	.l-col-sm--5{ flex-basis:62.5%; max-width:62.5%; }
	.l-col-sm--4{ flex-basis:50%; max-width:50%; }
	.l-col-sm--3{ flex-basis:37.5%; max-width:37.5%; }
	.l-col-sm--2{ flex-basis:25%; max-width:25%; }
	.l-col-sm--1{ flex-basis:12.5%; max-width:12.5%; }
	/* right */
	.l-col-sm--8-right{ margin-right:100%; }
	.l-col-sm--7-right{ margin-right:87.5%; }
	.l-col-sm--6-right{ margin-right:75%; }
	.l-col-sm--5-right{ margin-right:67.5%; }
	.l-col-sm--4-right{ margin-right:50%; }
	.l-col-sm--3-right{ margin-right:37.5%; }
	.l-col-sm--2-right{ margin-right:25%; }
	.l-col-sm--1-right{ margin-right:12.5%; }
	/* left */
	.l-col-sm--8-left{ margin-left:100%; }
	.l-col-sm--7-left{ margin-left:87.5%; }
	.l-col-sm--6-left{ margin-left:75%; }
	.l-col-sm--5-left{ margin-left:67.5%; }
	.l-col-sm--4-left{ margin-left:50%; }
	.l-col-sm--3-left{ margin-left:37.5%; }
	.l-col-sm--2-left{ margin-left:25%; }
	.l-col-sm--1-left{ margin-left:12.5%; }
	/* nested grid */
	/* col-sm--7 */
	.l-col-sm--7 > .row__sub .l-col-sm--7 { flex-basis:100%; max-width:100%; }
	.l-col-sm--7 > .row__sub .l-col-sm--6 { flex-basis:85.714%; max-width:85.714%; }
	.l-col-sm--7 > .row__sub .l-col-sm--5 { flex-basis:71.428%; max-width:71.428%; }
	.l-col-sm--7 > .row__sub .l-col-sm--4 { flex-basis:57.142%; max-width:57.142%; }
	.l-col-sm--7 > .row__sub .l-col-sm--3 { flex-basis:42.857%; max-width:42.857%; }
	.l-col-sm--7 > .row__sub .l-col-sm--2 { flex-basis:28.571%; max-width:28.571%; }
	.l-col-sm--7 > .row__sub .l-col-sm--1 { flex-basis:14.285%; max-width:14.285%; }
	/* col-sm--6 */
	.l-col-sm--6 > .row__sub .l-col-sm--6 { flex-basis:100%; max-width:100%; }
	.l-col-sm--6 > .row__sub .l-col-sm--5 { flex-basis:83.333%; max-width:83.333%; }
	.l-col-sm--6 > .row__sub .l-col-sm--4 { flex-basis:66.666%; max-width:66.666%; }
	.l-col-sm--6 > .row__sub .l-col-sm--3 { flex-basis:50%; max-width:50%; }
	.l-col-sm--6 > .row__sub .l-col-sm--2 { flex-basis:33.333%; max-width:33.333%; }
	.l-col-sm--6 > .row__sub .l-col-sm--1 { flex-basis:16.666%; max-width:16.666%; }
	/* col-sm--5 */
	.l-col-sm--5 > .row__sub .l-col-sm--5 { flex-basis:100%; max-width:100%; }
	.l-col-sm--5 > .row__sub .l-col-sm--4 { flex-basis:80%; max-width:80%; }
	.l-col-sm--5 > .row__sub .l-col-sm--3 { flex-basis:60%; max-width:60%; }
	.l-col-sm--5 > .row__sub .l-col-sm--2 { flex-basis:40%; max-width:40%; }
	.l-col-sm--5 > .row__sub .l-col-sm--1 { flex-basis:20%; max-width:20%; }
	/* col-sm--4 */
	.l-col-sm--4 > .row__sub .l-col-sm--4 { flex-basis:100%; max-width:100%; }
	.l-col-sm--4 > .row__sub .l-col-sm--3 { flex-basis:75%; max-width:75%; }
	.l-col-sm--4 > .row__sub .l-col-sm--2 { flex-basis:50%; max-width:50%; }
	.l-col-sm--4 > .row__sub .l-col-sm--1 { flex-basis:25%; max-width:25%; }
	/* col-sm--3 */
	.l-col-sm--3 > .row__sub .l-col-sm--3 { flex-basis:100%; max-width:100%; }
	.l-col-sm--3 > .row__sub .l-col-sm--2 { flex-basis:66.666%; max-width:66.666%; }
	.l-col-sm--3 > .row__sub .l-col-sm--1 { flex-basis:33.333%; max-width:33.333%; }
	/* col-sm--2 */
	.l-col-sm--2 > .row__sub .l-col-sm--2 { flex-basis:100%; max-width:100%; }
	.l-col-sm--2 > .row__sub .l-col-sm--1 { flex-basis:50%; max-width:50%; }
	/* col-sm--1 */
	.l-col-sm--1 > .row__sub .l-col-sm--1 { flex-basis:100%; max-width:100%; }
	/* col-sm--7-right */
	.l-col-sm--7 > .row__sub .l-col-sm--7-right { margin-right:100%; }
	.l-col-sm--7 > .row__sub .l-col-sm--6-right { margin-right:85.714%; }
	.l-col-sm--7 > .row__sub .l-col-sm--5-right { margin-right:71.428%; }
	.l-col-sm--7 > .row__sub .l-col-sm--4-right { margin-right:57.142%; }
	.l-col-sm--7 > .row__sub .l-col-sm--3-right { margin-right:42.857%; }
	.l-col-sm--7 > .row__sub .l-col-sm--2-right { margin-right:28.571%; }
	.l-col-sm--7 > .row__sub .l-col-sm--1-right { margin-right:14.285%; }
	/* col-sm--6-right */
	.l-col-sm--6 > .row__sub .l-col-sm--6-right { margin-right:100%; }
	.l-col-sm--6 > .row__sub .l-col-sm--5-right { margin-right:83.333%; }
	.l-col-sm--6 > .row__sub .l-col-sm--4-right { margin-right:66.666%; }
	.l-col-sm--6 > .row__sub .l-col-sm--3-right { margin-right:50%; }
	.l-col-sm--6 > .row__sub .l-col-sm--2-right { margin-right:33.333%; }
	.l-col-sm--6 > .row__sub .l-col-sm--1-right { margin-right:16.666%; }
	/* col-sm--5-right */
	.l-col-sm--5 > .row__sub .l-col-sm--5-right { margin-right:100%; }
	.l-col-sm--5 > .row__sub .l-col-sm--4-right { margin-right:80%; }
	.l-col-sm--5 > .row__sub .l-col-sm--3-right { margin-right:60%; }
	.l-col-sm--5 > .row__sub .l-col-sm--2-right { margin-right:40%; }
	.l-col-sm--5 > .row__sub .l-col-sm--1-right { margin-right:20%; }
	/* col-sm--4-right */
	.l-col-sm--4 > .row__sub .l-col-sm--4-right { margin-right:100%; }
	.l-col-sm--4 > .row__sub .l-col-sm--3-right { margin-right:75%; }
	.l-col-sm--4 > .row__sub .l-col-sm--2-right { margin-right:50%; }
	.l-col-sm--4 > .row__sub .l-col-sm--1-right { margin-right:25%; }
	/* col-sm--3-right */
	.l-col-sm--3 > .row__sub .l-col-sm--3-right { margin-right:100%; }
	.l-col-sm--3 > .row__sub .l-col-sm--2-right { margin-right:66.666%; }
	.l-col-sm--3 > .row__sub .l-col-sm--1-right { margin-right:33.333%; }
	/* col-sm--2-right */
	.l-col-sm--2 > .row__sub .l-col-sm--2-right { margin-right:100%; }
	.l-col-sm--2 > .row__sub .l-col-sm--1-right { margin-right:50%; }
	/* col-sm--1-right */
	.l-col-sm--1 > .row__sub .l-col-sm--1-right { margin-right:100%; }
	/* col-sm--7-left */
	.l-col-sm--7 > .row__sub .l-col-sm--7-left { margin-left:100%; }
	.l-col-sm--7 > .row__sub .l-col-sm--6-left { margin-left:85.714%; }
	.l-col-sm--7 > .row__sub .l-col-sm--5-left { margin-left:71.428%; }
	.l-col-sm--7 > .row__sub .l-col-sm--4-left { margin-left:57.142%; }
	.l-col-sm--7 > .row__sub .l-col-sm--3-left { margin-left:42.857%; }
	.l-col-sm--7 > .row__sub .l-col-sm--2-left { margin-left:28.571%; }
	.l-col-sm--7 > .row__sub .l-col-sm--1-left { margin-left:14.285%; }
	/* col-sm--6-left */
	.l-col-sm--6 > .row__sub .l-col-sm--6-left { margin-left:100%; }
	.l-col-sm--6 > .row__sub .l-col-sm--5-left { margin-left:83.333%; }
	.l-col-sm--6 > .row__sub .l-col-sm--4-left { margin-left:66.666%; }
	.l-col-sm--6 > .row__sub .l-col-sm--3-left { margin-left:50%; }
	.l-col-sm--6 > .row__sub .l-col-sm--2-left { margin-left:33.333%; }
	.l-col-sm--6 > .row__sub .l-col-sm--1-left { margin-left:16.666%; }
	/* col-sm--5-left */
	.l-col-sm--5 > .row__sub .l-col-sm--5-left { margin-left:100%; }
	.l-col-sm--5 > .row__sub .l-col-sm--4-left { margin-left:80%; }
	.l-col-sm--5 > .row__sub .l-col-sm--3-left { margin-left:60%; }
	.l-col-sm--5 > .row__sub .l-col-sm--2-left { margin-left:40%; }
	.l-col-sm--5 > .row__sub .l-col-sm--1-left { margin-left:20%; }
	/* col-sm--4-left */
	.l-col-sm--4 > .row__sub .l-col-sm--4-left { margin-left:100%; }
	.l-col-sm--4 > .row__sub .l-col-sm--3-left { margin-left:75%; }
	.l-col-sm--4 > .row__sub .l-col-sm--2-left { margin-left:50%; }
	.l-col-sm--4 > .row__sub .l-col-sm--1-left { margin-left:25%; }
	/* col-sm--3-left */
	.l-col-sm--3 > .row__sub .l-col-sm--3-left { margin-left:100%; }
	.l-col-sm--3 > .row__sub .l-col-sm--2-left { margin-left:66.666%; }
	.l-col-sm--3 > .row__sub .l-col-sm--1-left { margin-left:33.333%; }
	/* col-sm--2-left */
	.l-col-sm--2 > .row__sub .l-col-sm--2-left { margin-left:100%; }
	.l-col-sm--2 > .row__sub .l-col-sm--1-left { margin-left:50%; }
	/* col-sm--1-left */
	.l-col-sm--1 > .row__sub .l-col-sm--1-left { margin-left:100%; }
}
/* xs screen - 512px */
@media screen and (max-width: 32rem) {
	.l-container{ max-width:19.875rem; }
	.l-col { padding-right:9px; padding-left:9px; }
	/* global helper classes */
	.l-row-xs--reverse { flex-direction: row-reverse; }
	.l-col-xs--reverse { flex-direction: column-reverse; }
	/* md col helper classes */
	.l-col-xs--start { justify-content: flex-start; text-align: start; }
	.l-col-xs--center { justify-content: center; text-align: center; }
	.l-col-xs--end { justify-content: flex-end; text-align: end; }
	.l-col-xs--top { align-items: flex-start; }
	.l-col-xs--middle { align-items: center; }
	.l-col-xs--bottom { align-items: flex-end; }
	.l-col-xs--around { justify-content: space-around; }
	.l-col-xs--between { justify-content: space-between; }
	.l-col-xs--first { order: -1; }
	.l-col-xs--last { order: 1; }
	/* col xs screen */
	.l-col-xs--6{ flex-basis:100%; max-width:100%; }
	.l-col-xs--5{ flex-basis:83.333%; max-width:83.333%; }
	.l-col-xs--4{ flex-basis:66.666%; max-width:66.666%; }
	.l-col-xs--3{ flex-basis:50%; max-width:50%; }
	.l-col-xs--2{ flex-basis:33.333%; max-width:33.333%; }
	.l-col-xs--1{ flex-basis:16.666%; max-width:16.666%; }
	/* right */
	.l-col-xs--6-right{ margin-right:100%; }
	.l-col-xs--5-right{ margin-right:83.333%; }
	.l-col-xs--4-right{ margin-right:66.666%; }
	.l-col-xs--3-right{ margin-right:50%; }
	.l-col-xs--2-right{ margin-right:33.333%; }
	.l-col-xs--1-right{ margin-right:16.666%; }
	/* left */
	.l-col-xs--6-left{ margin-left:100%; }
	.l-col-xs--5-left{ margin-left:83.333%; }
	.l-col-xs--4-left{ margin-left:66.666%; }
	.l-col-xs--3-left{ margin-left:50%; }
	.l-col-xs--2-left{ margin-left:33.333%; }
	.l-col-xs--1-left{ margin-left:16.666%; }
	/* nested grid */
	/* col-xs--5 */
	.l-col-xs--5 > .row__sub .l-col-xs--5 { flex-basis:100%; max-width:100%; }
	.l-col-xs--5 > .row__sub .l-col-xs--4 { flex-basis:80%; max-width:80%; }
	.l-col-xs--5 > .row__sub .l-col-xs--3 { flex-basis:60%; max-width:60%; }
	.l-col-xs--5 > .row__sub .l-col-xs--2 { flex-basis:40%; max-width:40%; }
	.l-col-xs--5 > .row__sub .l-col-xs--1 { flex-basis:20%; max-width:20%; }
	/* col-xs--4 */
	.l-col-xs--4 > .row__sub .l-col-xs--4 { flex-basis:100%; max-width:100%; }
	.l-col-xs--4 > .row__sub .l-col-xs--3 { flex-basis:75%; max-width:75%; }
	.l-col-xs--4 > .row__sub .l-col-xs--2 { flex-basis:50%; max-width:50%; }
	.l-col-xs--4 > .row__sub .l-col-xs--1 { flex-basis:25%; max-width:25%; }
	/* col-xs--3 */
	.l-col-xs--3 > .row__sub .l-col-xs--3 { flex-basis:100%; max-width:100%; }
	.l-col-xs--3 > .row__sub .l-col-xs--2 { flex-basis:66.666%; max-width:66.666%; }
	.l-col-xs--3 > .row__sub .l-col-xs--1 { flex-basis:33.333%; max-width:33.333%; }
	/* col-xs--2 */
	.l-col-xs--2 > .row__sub .l-col-xs--2 { flex-basis:100%; max-width:100%; }
	.l-col-xs--2 > .row__sub .l-col-xs--1 { flex-basis:50%; max-width:50%; }
	/* col-xs--1 */
	.l-col-xs--1 > .row__sub .l-col-xs--1 { flex-basis:100%; max-width:100%; }
	/* col-xs--5-right */
	.l-col-xs--5 > .row__sub .l-col-xs--5-right { margin-right:100%; }
	.l-col-xs--5 > .row__sub .l-col-xs--4-right { margin-right:80%; }
	.l-col-xs--5 > .row__sub .l-col-xs--3-right { margin-right:60%; }
	.l-col-xs--5 > .row__sub .l-col-xs--2-right { margin-right:40%; }
	.l-col-xs--5 > .row__sub .l-col-xs--1-right { margin-right:20%; }
	/* col-xs--4-right */
	.l-col-xs--4 > .row__sub .l-col-xs--4-right { margin-right:100%; }
	.l-col-xs--4 > .row__sub .l-col-xs--3-right { margin-right:75%; }
	.l-col-xs--4 > .row__sub .l-col-xs--2-right { margin-right:50%; }
	.l-col-xs--4 > .row__sub .l-col-xs--1-right { margin-right:25%; }
	/* col-xs--3-right */
	.l-col-xs--3 > .row__sub .l-col-xs--3-right { margin-right:100%; }
	.l-col-xs--3 > .row__sub .l-col-xs--2-right { margin-right:66.666%; }
	.l-col-xs--3 > .row__sub .l-col-xs--1-right { margin-right:33.333%; }
	/* col-xs--2-right */
	.l-col-xs--2 > .row__sub .l-col-xs--2-right { margin-right:100%; }
	.l-col-xs--2 > .row__sub .l-col-xs--1-right { margin-right:50%; }
	/* col-xs--1-right */
	.l-col-xs--1 > .row__sub .l-col-xs--1-right { margin-right:100%; }
	/* col-xs--5-left */
	.l-col-xs--5 > .row__sub .l-col-xs--5-left { margin-left:100%; }
	.l-col-xs--5 > .row__sub .l-col-xs--4-left { margin-left:80%; }
	.l-col-xs--5 > .row__sub .l-col-xs--3-left { margin-left:60%; }
	.l-col-xs--5 > .row__sub .l-col-xs--2-left { margin-left:40%; }
	.l-col-xs--5 > .row__sub .l-col-xs--1-left { margin-left:20%; }
	/* col-xs--4-left */
	.l-col-xs--4 > .row__sub .l-col-xs--4-left { margin-left:100%; }
	.l-col-xs--4 > .row__sub .l-col-xs--3-left { margin-left:75%; }
	.l-col-xs--4 > .row__sub .l-col-xs--2-left { margin-left:50%; }
	.l-col-xs--4 > .row__sub .l-col-xs--1-left { margin-left:25%; }
	/* col-xs--3-left */
	.l-col-xs--3 > .row__sub .l-col-xs--3-left { margin-left:100%; }
	.l-col-xs--3 > .row__sub .l-col-xs--2-left { margin-left:66.666%; }
	.l-col-xs--3 > .row__sub .l-col-xs--1-left { margin-left:33.333%; }
	/* col-xs--2-left */
	.l-col-xs--2 > .row__sub .l-col-xs--2-left { margin-left:100%; }
	.l-col-xs--2 > .row__sub .l-col-xs--1-left { margin-left:50%; }
	/* col-xs--1-left */
	.l-col-xs--1 > .row__sub .l-col-xs--1-left { margin-left:100%; }
}