/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; vertical-align: baseline; background: transparent; }
/* Change the default font family in all browsers (opinionated). Prevent adjustments of font size after orientation changes in IE and iOS. */
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
/* body */
body { line-height: 1; }
/*
-------------------------------
** HTML5 display definitions **
-------------------------------
*/
/* Add the correct display in Edge, IE, and Firefox */
article, aside, details, figcaption, figure, footer, header, hgroup, main ,menu ,nav, section, summary, hr { display: block; }
/* Add the correct display in IE 9-. */
audio, canvas, progress, video { display: inline-block; }
/* remove bullets from the navigation */
nav ul { list-style: none; }
/* Add the correct display in iOS 4-7. */
audio:not([controls]) { display: none; height: 0; }
/* Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { vertical-align: baseline; }
/* Add the correct display in IE */
[hidden], template { display: none; }
/*
-----------
** Links **
-----------
*/
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
/*Remove the outline on focused links when they are also active or hovered in all browsers (opinionated). */
a:active, a:hover { outline-width: 0; }
/* overide default style in iOS 4-7 */
a[href^="tel"], a[href^="sms"] { color: inherit; text-decoration: inherit; }
/*
--------------------------
** Text-level semantics **
--------------------------
*/
/* underline */
ins { text-decoration: underline; }
/* Add the correct background and color in IE 9-. */
mark { font-weight: bold; background-color: #ffff99; color: #000000; }
/* delete */
del { text-decoration: line-through; }
/* Add the correct font style in Android 4.3-. */
i, dfn, mark, em { font-style: italic; }
/* Prevent the duplicate application of `bolder` by the next rule in Safari 6.*/
b, strong { font-weight: inherit; }
/* Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bold; }
/* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
/* Remove the bottom border in Firefox 39-. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title], dfn[title] { border-bottom: none; text-decoration: underline; cursor: help; }
/* qoutes */
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/*
----------------------
** Embedded content **
----------------------
*/
/* Remove the border on images inside links in IE 10-. */
img { border-style: none; }
/* Hide the overflow in IE. */
svg:not(:root) { overflow: hidden; }
/*
----------------------
** Grouping content **
----------------------
*/
/* Correct the inheritance and scaling of font size in all browsers. And correct the odd `em` font sizing in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
/* Add the correct box sizing in Firefo. Show the overflow in Edge and IE. */
hr { height: 0; border: 0; border-top: 1px solid; margin: 1em 0; padding: 0; box-sizing: content-box; overflow: visible; }
/*
----------
** Form **
----------
*/
/* Change font properties to `inherit` in all browsers (opinionated). */
button, input, select, textarea { font: inherit; }
/* Restore the font weight unset by the previous rule. */
optgroup { font-weight: bold; }
/* Show the overflow in Edge, Firefox, and IE */
button, input, select { overflow: visible; }
/* Remove the margin in Firefox and Safari */
button, input, select, textarea { margin: 0; }
/* Remove the inheritence of text transform in Edge, Firefox, and IE */
button, select { text-transform: none; }
/* Change the cursor in all browsers (opinionated). */
button, [type="button"], [type="reset"], [type="submit"] { cursor: pointer; }
/* Restore the default cursor to disabled elements unset by the previous rule. */
[disabled] { cursor: default; }
/* Prevent a WebKit bug where destroys native `audio` and `video` controls in Android 4. And Correct the inability to style clickable types in iOS. */
button, html [type="button"], [type="reset"], [type="submit"] { -moz-appearance: button; -webkit-appearance: button; }
/* Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
/* Restore the focus styles unset by the previous rule. */
button:-moz-focusring, input:-moz-focusring { outline: 1px dotted ButtonText; }
/* Correct the text wrapping in Edge and IE. Correct the color inheritance from `fieldset` elements in IE. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }
/* Remove the default vertical scrollbar in IE. */
textarea { overflow: auto; }
/* Add the correct box sizing in IE 10- and remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0; }
/* Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }
/* Correct the odd appearance of search inputs in Chrome and Safari. */
[type="search"] { -moz-appearance: textfield; -webkit-appearance: textfield; }
/* Remove the inner padding and cancel buttons in Chrome on OS X and Safari on OS X. */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -moz-appearance: none; -webkit-appearance: none; }
/*
-----------
** Table **
-----------
*/
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }