/*
----------
** text **
----------
*/
h1 {  }
h1 small {  }

h2 {  }
h2 small {  }

h3 {  }
h3 small {  }

h4 {  }
h4 small {  }

h5 {  }
h5 small {  }

h6 {  }
h6 small {  }

p {  }

mark {  }

/*
---------
** btn **
---------
*/
.btn--primary {  }
.btn--primary:hover {  }
.btn--secondary {  }
.btn--secondary:hover {  }
